<!-- extend base layout -->
{% extends "base.html" %} {% block content %} {% include 'flash.html' %}
<div class="well" style="margin-top:70px;margin-left:30px">
    <h3>Institution non validées</h3>
    <div class="panel panel-primary" style="text-align: left">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des institutions</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dénomination</th>
                    <th>Wilaya</th>
                    <th>Commune</th>
                    <th>Type d'institution</th>
                    <th>Téléphone</th>
                    <th>Fax</th>
                    <th>Description</th>
                    <th>Postion Map</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for institution in institutions %}
                <tr>
                    <td>{{ institution.id }}</td>
                    <td>{{ institution.denomination }}</td>
                    <td>{{ institution.getWilaya() }}</td>
                    <td>{{ institution.getCommune() }}</td>
                    <td>{{ institution.getClass() }}</td>
                    <td>{{ institution.phone }}</td>
                    <td>{{ institution.fax }}</td>
                    <td>{{ institution.description }}</td>
                    <td><a href="{{ 'https://www.google.dz/maps/@'+institution.latitude|string+','+institution.longitude|string+',15z' }}" target="_blank">postion</a></td>
                    <td>
                        <a class="btn btn-success" href="{{ url_for('validate_institution', id=institution.id) }}">
                            Valider
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ url_for('delete_institution', id=institution.id) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}